In [9]:
import pymongo
import requests
import json

In [10]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"] # In MongoDB, a database is not created until it gets content!
# Creating a Collection
mycol = mydb["customers"] #  In MongoDB, a collection is not created until it gets content!

# Insert Into Collection
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

In [15]:
myresult = mycol.find()
for x in myresult:
  print(x)

{'_id': ObjectId('66d53d857d9bb8adf60c3a97'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a98'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a99'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a9a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a9b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a9c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a9d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a9e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66d53d857d9bb8adf60c3a9f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66d53d857d9bb8adf60c3aa0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66d53d857d9bb8adf60c3aa1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66d53d857d9bb8adf60c3aa2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66d53d857d9bb8adf60c3aa3'), 'name': 'Viola', 'address': 'Sideway 1633'}