In [3]:
import pyspark as ps
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [4]:
#Create DataFrame with Examples

In [5]:
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [6]:
df1 = spark.createDataFrame(data)
df1.show()

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

In [7]:
df1 = df1.toDF(*columns)
df1.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [10]:
#Creating DataFrame from CSV
df2 = spark.read.csv("vca.csv", header=True, inferSchema=True)
df2.show(1)

+---------+-----------+---------------+-----------------+--------------------+-----------------+--------------------+-----------------+-----------------+------------+--------------------+---------------------+---------------+----------------+---------------+-----------------+--------------------+-----------------+--------------------+-----------------+-----------------+------------+--------------------+---------------------+---------------+----------------+---------------+-----------------+-------------+-----------------+--------------------+-----------------+-----------------+------------+----------------+---------------------+---------------+----------------+---------------+-----------------+-------------+-----------------+--------------------+-----------------+-----------------+------------+----------------+---------------------+---------------+----------------+
|patientid|speciesname|2018_hospitalid|2018_membershipid|       2018_planname|2018_isplanmember|2018_isrenewalmember|2018_cancelreason|2018_cohortvisits|2018_revenue|    2018_servicelist|2018_serviceusedcount|2018_useddental|2018_usedvaccine|2019_hospitalid|2019_membershipid|       2019_planname|2019_isplanmember|2019_isrenewalmember|2019_cancelreason|2019_cohortvisits|2019_revenue|    2019_servicelist|2019_serviceusedcount|2019_useddental|2019_usedvaccine|2020_hospitalid|2020_membershipid|2020_planname|2020_isplanmember|2020_isrenewalmember|2020_cancelreason|2020_cohortvisits|2020_revenue|2020_servicelist|2020_serviceusedcount|2020_useddental|2020_usedvaccine|2021_hospitalid|2021_membershipid|2021_planname|2021_isplanmember|2021_isrenewalmember|2021_cancelreason|2021_cohortvisits|2021_revenue|2021_servicelist|2021_serviceusedcount|2021_useddental|2021_usedvaccine|
+---------+-----------+---------------+-----------------+--------------------+-----------------+--------------------+-----------------+-----------------+------------+--------------------+---------------------+---------------+----------------+---------------+-----------------+--------------------+-----------------+--------------------+-----------------+-----------------+------------+--------------------+---------------------+---------------+----------------+---------------+-----------------+-------------+-----------------+--------------------+-----------------+-----------------+------------+----------------+---------------------+---------------+----------------+---------------+-----------------+-------------+-----------------+--------------------+-----------------+-----------------+------------+----------------+---------------------+---------------+----------------+
|  1404361|        Cat|            153|         14023807|Senior Paws Plus ...|             true|                true|             null|                4|     2275.88|Feline Senior Wel...|                    7|           true|           false|            153|         49435715|Senior Paws Plus ...|             true|                true|  Pet passed away|                3|     3320.88|Canine/Feline Sen...|                    8|          false|           false|           null|             null|         null|             null|                null|             null|             null|        null|            null|                 null|           null|            null|           null|             null|         null|             null|                null|             null|             null|        null|            null|                 null|           null|            null|
+---------+-----------+---------------+-----------------+--------------------+-----------------+--------------------+-----------------+-----------------+------------+--------------------+---------------------+---------------+----------------+---------------+-----------------+--------------------+-----------------+--------------------+-----------------+-----------------+------------+--------------------+---------------------+---------------+----------------+---------------+-----------------+-------------+-----------------+--------------------+-----------------+-----------------+------------+----------------+---------------------+---------------+----------------+---------------+-----------------+-------------+-----------------+--------------------+-----------------+-----------------+------------+----------------+---------------------+---------------+----------------+
only showing top 1 row

In [11]:
#Create Schema
from pyspark.sql.types import StructType,StructField, StringType
schema = StructType([
  StructField('firstname', StringType(), True),
  StructField('middlename', StringType(), True),
  StructField('lastname', StringType(), True)
  ])
#Creates Empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
#Create empty DataFrame from empty RDD
df = spark.createDataFrame(emptyRDD,schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [12]:
df.show()

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
+---------+----------+--------+

In [13]:
#Convert empty RDD to Dataframe
df1 = emptyRDD.toDF(schema)
df1.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [14]:
#Create empty DataFrame directly.
df2 = spark.createDataFrame([], schema)
df2.printSchema()
df2.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
+---------+----------+--------+

In [15]:
#Create empty DatFrame with no schema (no columns)
df3 = spark.createDataFrame([], StructType([]))
df3.printSchema()
df3.show()

root

++
||
++
++

In [16]:
#Create empty DatFrame with schema (columns)
from pyspark.sql.types import StructType,StructField, StringType
df3 = spark.createDataFrame([], StructType([StructField('firstname', StringType(), True)]))
df3.printSchema()
df3.show()

root
 |-- firstname: string (nullable = true)

+---------+
|firstname|
+---------+
+---------+

In [17]:
data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

columns = ["first_name","middle_name","last_name","dob","gender","salary"]
pysparkDF = spark.createDataFrame(data = data, schema = columns)
pysparkDF.printSchema()
pysparkDF.show()

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|  dob|gender|salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M| 60000|
|   Michael|       Rose|         |40288|     M| 70000|
|    Robert|           | Williams|42114|      |400000|
|     Maria|       Anne|    Jones|39192|     F|500000|
|       Jen|       Mary|    Brown|     |     F|     0|
+----------+-----------+---------+-----+------+------+

In [18]:
pandasDF = pysparkDF.toPandas()
pandasDF

  first_name middle_name last_name    dob gender  salary
0      James                 Smith  36636      M   60000
1    Michael        Rose            40288      M   70000
2     Robert              Williams  42114         400000
3      Maria        Anne     Jones  39192      F  500000
4        Jen        Mary     Brown             F       0

In [19]:
#def show(self, n=20, truncate=True, vertical=False):
columns = ["Seqno","Quote"]
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]

pysparkDF = spark.createDataFrame(data = data, schema = columns)
pysparkDF.show()

+-----+--------------------+
|Seqno|               Quote|
+-----+--------------------+
|    1|Be the change tha...|
|    2|Everyone thinks o...|
|    3|The purpose of ou...|
|    4|            Be cool.|
+-----+--------------------+

In [20]:
pysparkDF.show(vertical=False, truncate=50, n=1)

+-----+-----------------------------------------------+
|Seqno|                                          Quote|
+-----+-----------------------------------------------+
|    1|Be the change that you wish to see in the world|
+-----+-----------------------------------------------+
only showing top 1 row

In [21]:
from pyspark.sql import functions as F

In [22]:
data=[("James",23),("Ann",40)]
df=spark.createDataFrame(data).toDF("name.fname","gender")
df.show()
df.select(df.gender).show()
df.select('gender').show()
df.select('`name.fname`').show()
df.select(df['gender']).show()


#Using SQL col() function
from pyspark.sql.functions import col
df.select(col("gender")).show()
#Accessing column name with dot (with backticks)
df.select(col("`name.fname`")).show()

+----------+------+
|name.fname|gender|
+----------+------+
|     James|    23|
|       Ann|    40|
+----------+------+

+------+
|gender|
+------+
|    23|
|    40|
+------+

+------+
|gender|
+------+
|    23|
|    40|
+------+

+----------+
|name.fname|
+----------+
|     James|
|       Ann|
+----------+

+------+
|gender|
+------+
|    23|
|    40|
+------+

+------+
|gender|
+------+
|    23|
|    40|
+------+

+----------+
|name.fname|
+----------+
|     James|
|       Ann|
+----------+

In [23]:
data=[(100,2,1),(200,3,4),(300,4,4)]
df=spark.createDataFrame(data).toDF("col1","col2","col3")

#Arthmetic operations
df.select(df.col1 + df.col2).show()
df.select(df.col1 - df.col2).show() 
df.select(df.col1 * df.col2).show()
df.select(df.col1 / df.col2).show()
df.select(df.col1 % df.col2).show()
df.select(df.col2 > df.col3).show()
df.select(df.col2 < df.col3).show()
df.select(df.col2 == df.col3).show()

+-------------+
|(col1 + col2)|
+-------------+
|          102|
|          203|
|          304|
+-------------+

+-------------+
|(col1 - col2)|
+-------------+
|           98|
|          197|
|          296|
+-------------+

+-------------+
|(col1 * col2)|
+-------------+
|          200|
|          600|
|         1200|
+-------------+

+-----------------+
|    (col1 / col2)|
+-----------------+
|             50.0|
|66.66666666666667|
|             75.0|
+-----------------+

+-------------+
|(col1 % col2)|
+-------------+
|            0|
|            2|
|            0|
+-------------+

+-------------+
|(col2 > col3)|
+-------------+
|         true|
|        false|
|        false|
+-------------+

+-------------+
|(col2 < col3)|
+-------------+
|        false|
|         true|
|        false|
+-------------+

+-------------+
|(col2 = col3)|
+-------------+
|        false|
|        false|
|         true|
+-------------+