In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local") \
    .appName("SparkByExamples.com") \
    .getOrCreate()

In [7]:
from pyspark.sql import functions as F

In [10]:
data=[["1","2020-02-01"],["2","2019-03-01"],["3","2021-03-01"]]
df=spark.createDataFrame(data,["id","input"])
df.toPandas()

  id       input
0  1  2020-02-01
1  2  2019-03-01
2  3  2021-03-01

In [9]:
df.agg(F.current_date()).show()

+--------------+
|current_date()|
+--------------+
|    2022-03-10|
+--------------+

In [30]:
df.select(F.date_format(F.col('input'), "dd-MM-yyyy")).show()

+------------------------------+
|date_format(input, dd-MM-yyyy)|
+------------------------------+
|                    01-02-2020|
|                    01-03-2019|
|                    01-03-2021|
+------------------------------+

In [36]:
#to_date()
df.select(F.col("input"), 
    F.date_format(F.col("input"), "MM-yyyy").alias("to_date") 
  ).show()

+----------+-------+
|     input|to_date|
+----------+-------+
|2020-02-01|02-2020|
|2019-03-01|03-2019|
|2021-03-01|03-2021|
+----------+-------+

In [44]:
df.select('input').withColumn('current_date', F.lit(F.current_date())) \
.select('*', F.datediff('current_date', 'input')).toPandas()

        input current_date  datediff(current_date, input)
0  2020-02-01   2022-03-10                            768
1  2019-03-01   2022-03-10                           1105
2  2021-03-01   2022-03-10                            374

In [45]:
df.select('input').withColumn('current_date', F.lit(F.current_date())) \
.select('*', F.months_between('current_date', 'input')).toPandas()

        input current_date  months_between(current_date, input, true)
0  2020-02-01   2022-03-10                                  25.290323
1  2019-03-01   2022-03-10                                  36.290323
2  2021-03-01   2022-03-10                                  12.290323

In [47]:
from pyspark.sql.functions import *
df.select(col("input"), 
    add_months(col("input"),3).alias("add_months"), 
    add_months(col("input"),-3).alias("sub_months"), 
    date_add(col("input"),4).alias("date_add"), 
    date_sub(col("input"),4).alias("date_sub") 
  ).show()

+----------+----------+----------+----------+----------+
|     input|add_months|sub_months|  date_add|  date_sub|
+----------+----------+----------+----------+----------+
|2020-02-01|2020-05-01|2019-11-01|2020-02-05|2020-01-28|
|2019-03-01|2019-06-01|2018-12-01|2019-03-05|2019-02-25|
|2021-03-01|2021-06-01|2020-12-01|2021-03-05|2021-02-25|
+----------+----------+----------+----------+----------+

In [49]:
df.select(col("input"), 
     year(col("input")).alias("year"), 
     month(col("input")).alias("month"), 
     next_day(col("input"),"Sunday").alias("next_day"), 
     weekofyear(col("input")).alias("weekofyear") 
  ).toPandas()

        input  year  month    next_day  weekofyear
0  2020-02-01  2020      2  2020-02-02           5
1  2019-03-01  2019      3  2019-03-03           9
2  2021-03-01  2021      3  2021-03-07           9